body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.webpage{
    background-color: black;
    border: 1px solid black;
    margin-top: -11px;
    margin-left: -11px;
    margin-right: -8px;
    


    display: flex;
    flex-wrap: wrap;

}
/*Navigation bar on top with logo search*/
.navigation-bar{
    background-color: black;
    width: 1200px;
    height: 56px;

    display: flex;
    top: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.navigation-bar-left{
    background-color: black;
    width: 158px;
    margin: 10px;
    height: 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation-bar-left-1{
    display: flex;
    margin: 10px;
}

.navigation-bar-left-2{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 10px;
    color: white;


}
.navigation-bar-left-2 a{

    display: flex;

}
.navigation-bar-left-2 p{
    font-size: 16px;
    font-weight: 630;

}


.navigation-bar-center{
    background-color: none;
    width: 548px;
    margin: 10px;
    height: 36px;

    display: flex;
    align-items: center;
    gap: 8px;
}
.navigation-bar-center-1{
    background-color: none;
    width: 508px;
    display: flex;
    align-items: center;
    margin: 0px;  
}

.search-text{
    border: 1px solid rgb(39,39,39) ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    background-color: rgb(18,18,18);
    width: 444px;
    height: 28px;
    padding-left: 22px;
    color: gray;
    font-size: 12px;
    font-weight: 500;
    margin-right: 1px;

    display: flex;
    align-items: center;

}

.search-icon{
    border: 1px solid rgb(39,39,39) ;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 3px solid rgb(39,39,39);

    background-color: rgb(39,39,39);
    width: 50px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar-center-2{
    border: 1px solid black ;
    border-radius: 50%;

    background-color: rgb(18,18,18);
    height: 30px;
    width: 30px;


    display: flex;
    align-items: center;
    justify-content: center;

}


.navigation-bar-right{
    background-color: none;
    width: 140px;
    margin: 10px;
    height: 36px; 
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-box a{
    background-color: black;
    text-decoration: none;

    border: 1px solid gray ;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 620;
    color: white;

    width: 90px;
    height: 30px;
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}








/*Container menu-bar (vertical bar with home and all) and content-container*/
.container{
    background-color:  black;
    width: 1200px;
    height: fit-content;

    display: flex;
        
}

/*Menu-bar (vertical bar with home and all)*/
.menu-bar{
    background-color:  black;
    width: 58px;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: fixed;
    left: 0;
}
.menu-bar-btn{
    width: 57px;
    height: auto;

    margin-top: 3px;
    margin-bottom: 3px;

    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5px;
}

.menu-bar-btn-1 a{
    text-decoration: none;
    background-color:  black;
    width: 56px;
    height:63px;
    font-size: 8px;
    font-weight: 620;
    border-radius: 12px;
    color: white;

    display: flex;
    gap: 0px;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.menu-bar-btn-2 a{
    text-decoration: none;
    background-color:  black;
    width: 56px;
    height:63px;
    font-size: 8px;
    font-weight: 620;
    border-radius: 12px;
    color: white;

    display: flex;
    gap: 0px;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.menu-bar-btn-3 a{
    text-decoration: none;
    background-color:  black;
    width: 56px;
    height:63px;
    font-size: 8px;
    font-weight: 620;
    border-radius: 12px;
    color: white;

    display: flex;
    gap: 0px;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.menu-bar-btn-4 a{
    text-decoration: none;
    background-color:  black;
    width: 56px;
    height:63px;
    font-size: 8px;
    font-weight: 620;
    border-radius: 12px;
    color: white;

    display: flex;
    gap: 0px;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.menu-bar-btn-5 a{
    text-decoration: none;
    background-color:  black;
    width: 56px;
    height:63px;
    font-size: 8px;
    font-weight: 620;
    border-radius: 12px;
    color: white;

    display: flex;
    gap: 0px;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 3px;
}

/*Content container with select-bar (horizontal with All, media, news and stuf) and videocard-container*/
.content-container{
    background-color:  black;
    width: 100%;
    height: fit-content;
    margin-left: 60px;

}

/*Select-bar (horizontal with All, media, news and stuf)*/
.select-bar{
    background-color:   black;
    width: fit-content;
    height: 56px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    align-items: center;
}


.bar-1{
    text-decoration: none;
    background-color:  white;
    height:24px;
    padding-left: 8px;
    padding-right: 8px;    
    font-size: 10px;
    border-radius: 7px;
    color: black;

    display: flex;
    align-items: center;
    margin-left: 5px;
}


.bar-2{
    text-decoration: none;
    background-color:  rgb(39,39,39);
    height:24px;
    padding-left: 8px;
    padding-right: 8px;    
    font-size: 10px;
    border-radius: 7px;
    color: white;

    display: flex;
    align-items: center;
    
}

/*Videocard-container for videocards*/
.videocard-container{
    background-color:  black;
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.videocard{
    height: 290px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 6px;    

}
.videocard-poster{
    width: 300px;
    height: 200px;
    border-radius: 14px;
}

.videocard-content{
    margin-top: 6px;
    padding: 3px;

    display: flex;
    justify-content: flex-start;
    gap: 6px;
}
.videocard-content-pfp{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.videocard-content-heading{
    background-color: black;
    width: 250px;
    font-size: 16px;
    color: white;
}

.videocard-footer{
    margin-left: 40px;
    font-size: 12px;
    color: gray;
}
